@model CapstoneProject.Models.EventModel.SearchParams
@{
    ViewBag.Title = "SearchForEvents";
}

<h2>Search For Events</h2>
<br />
<p>Below are some available events to search.</p>
<p>Endurance:  Running, cycling, swimming, triathlons, duathlons, walking, mountain biking</p>
<p>Fitness:  Aerobics, dance, zumba, yoga, Pilates, ballet</p>

@using (Html.BeginForm("ViewEvents", "Events"))
{
        <div class="form-group">
            @Html.LabelFor(m => m.state, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.state, new { @class = "form-control", id = "searchInput" })
                </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.topic, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.topic, new { @class = "form-control", id = "searchInput"})
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Search" />
            </div>
        </div>  
}

<script>
   function post() {
        var Search = $("#searchInput").val();
        $.ajax({
            type: "GET",
            url: "ViewEvents",
            coontentType: "application/json",
            data: {
                "Search": Search
            },
            dataType: "json",

            success: function (data) {
                console.log(data)
            },
            error: function (req, status, error) {
                console.log(req);
            }
        });
        return false;
   };

</script>








@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


