@model CapstoneProject.Models.RegisterViewModel
@{
    ViewBag.Title = "CreateWorkoutChart";
}

<h2>Create your own personal workout plan!</h2>

@using (Html.BeginForm("CreateWorkoutChart", "WorkoutPlan", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.MondayPlan, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MondayPlan, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TuesdayPlan, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TuesdayPlan, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.WednesdayPlan, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.WednesdayPlan, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ThursdayPlan, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ThursdayPlan, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FridayPlan, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FridayPlan, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SaturdayPlan, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SaturdayPlan, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SundayPlan, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SundayPlan, new { @class = "form-control" })
        </div>
    </div>

    <div style="margin-left: 80px;">
        <label for="CheckBox">Share my chart with my friends</label>
        <div id="CheckBox">
            @Html.CheckBoxFor(m => m.ChartShared)
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="buttonNav" value="Create" />
            </div>
        </div>
}

<style>
    .buttonNav {
        background-color: #4717F6;
        border-color: black;
        color: #E7DFDD;
        font-size: 20px;
        border-radius: 5px;
        margin-top: 20px;
    }

    #CheckBox {
        margin-left: 250px;
        margin-top: -22px;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
