@model CapstoneProject.Models.RegisterViewModel
@{
    ViewBag.Title = "CreateChallenge";
}

<h2>Create a Challenge</h2>
<br />
@using (Html.BeginForm("CreateChallenge", "Challenges", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.ChallengeName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ChallengeName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StartDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
        </div>
    </div>
//--------------------------------------------------------------------------------------
    <div class="form-group">
        @Html.LabelFor(m => m.GoalOne, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GoalOne, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DescOne, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DescOne, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DiffOne, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
           @Html.DropDownList("DiffOne" , new SelectList(new[] { "Wimpy", "Average", "Challenging", "Impossible" }), "Select Difficulty")      
        </div>
    </div>
//------------------------------------------------------------------------------------------
    <div class="form-group">
        @Html.LabelFor(m => m.GoalTwo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GoalTwo, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DescTwo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DescTwo, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DiffTwo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
           @Html.DropDownList("DiffTwo" , new SelectList(new[] { "Wimpy", "Average", "Challenging", "Impossible" }), "Select Difficulty")
        </div>
    </div>
    //---------------------------------------------------------------------------------------
    <div class="form-group">
        @Html.LabelFor(m => m.GoalThree, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GoalThree, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DescThree, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DescThree, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DiffThree, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
           @Html.DropDownList("DiffThree" , new SelectList(new[] { "Wimpy", "Average", "Challenging", "Impossible" }), "Select Difficulty")
        </div>
    </div>
    //------------------------------------------------------------------------------------------
    <div class="form-group">
        @Html.LabelFor(m => m.GoalFour, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GoalFour, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DescFour, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DescFour, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DiffFour, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
           @Html.DropDownList("DiffFour" , new SelectList(new[] { "Wimpy", "Average", "Challenging", "Impossible" }), "Select Difficulty")
        </div>
    </div>
    //---------------------------------------------------------------------------------------------
    <div class="form-group">
        @Html.LabelFor(m => m.GoalFive, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GoalFive, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DescFive, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DescFive, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DiffFive, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
           @Html.DropDownList("DiffFive" , new SelectList(new[] { "Wimpy", "Average", "Challenging", "Impossible" }), "Select Difficulty")
        </div>
    </div>
//---------------------------------------------------------------------------------------------------
    <div class="form-group">
        @Html.LabelFor(m => m.EndDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="buttonNav" value="Create" />
        </div>
    </div>

    <style>
        .buttonNav {
            background-color: #4717F6;
            border-color: black;
            color: #E7DFDD;
            font-size: 20px;            
            border-radius: 5px;
        }
    </style>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

